
<section class="modal-card-body">
  <div class="field form-group">
    <label class="label" for="name">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Name" required #name
        autocomplete="off">
    </div>
  </div>

  <div class="field" (focus)="checkUsername(username.value)">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-success" type="text" placeholder="Username"
        #username required autocomplete="off">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <!-- <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span> -->
    </div>
    <p class="help is-success hidden">This username is available</p>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input id="email_input" class="input is-danger" type="email"
        placeholder="Email input" #email required autocomplete="off">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <!-- <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span> -->
    </div>
    <p class="help is-danger">This email is invalid</p>
  </div>

  <div class="field">
    <div class="control has-icons-left has-icons-right">
      <input id="email_input2" class="input" type="email"
        placeholder="Repeat email" #email2 required autocomplete="off">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <!-- <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span> -->
    </div>
    <!-- <p class="help is-danger">This email is invalid</p> -->
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control has-icons-left">
      <input id="password" class="input is-danger" type="password"
        placeholder="Password" #password required autocomplete="off">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
      <p class="help is-danger">This password is invalid</p>
    </div>
  </div>

  <div class="field">
    <p class="control has-icons-left">
      <input id="password2" class="input" type="password"
        placeholder="Repeat password" #password2 required autocomplete="off">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>

  <!-- <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <textarea class="textarea" placeholder="Textarea"></textarea>
    </div>
  </div> -->
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" #checkbox required>
        I agree to the <a href="#">terms and conditions</a>
      </label>
    </div>
  </div>
</section>
<footer class="modal-card-foot">

  <button class="button is-success" (click)="onSubmit(name.value,
    username.value, email.value, email2.value, password.value,
    password2.value, checkbox.value)">Submit</button>

</footer>
