.navbar-brand {
  font-family: 'Leckerli One';
  font-size: large;
}


#i-dont-have-account {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.navbar {
  box-shadow: 0px 2px #e1e1e1;
}


.search-bar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
