@font-face {
  font-family: 'Leckerli One';
  src: url('../../../assets/fonts/LeckerliOne-Regular.ttf');
}

.navbar-brand {
  font-family: 'Leckerli One';
  font-weight: lighter;
  background-color: black;
  padding: 5px;
  border-radius: 15%;
}
