.card-datetime {
  text-align: right;
}


.card-created-at {
  text-align: center;
  font-size: 12px;
  color: rgb(126, 126, 126);
}

.card-buy-tickets-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#edit-button {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: right;
}

.card {
  padding-top: 20px;
}


.content {
  padding-right: 20px
}

.margin-left {
  margin-left: 20px;
}

#fee-info {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}


.match-parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.image-side-fee {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.brand {
  font-family: 'Leckerli One';
  font-size: 50px;
}
