{{errorMessage}}

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><small class="help">Name: </small>{{userData.name}}</p>
        <p class="subtitle is-6"><small class="help">Username: </small>{{userData.username}}</p>
      </div>
    </div>

    <div class="content">
      <span class="help">Email: </span>{{userData.email}}
      <br>
      <br>
    </div>
    <div><strong>Points:</strong> {{userData.points}}</div>
  </div>
</div>
