
<hr>
<h2>
  <strong>MusicMeets</strong> wants to give people the opportunity to meet new
  and
  interesting persons with the power of music. It started with a project
</h2>
<hr>
<div class="card">
  <div class="card-content">
    <p class="title">
      “It's more than just Music. I feel Alive, I feel At Home”
    </p>
    <p class="subtitle">
      MusicMeets
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        View on <a
          href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Share on <a href="#">Facebook</a>
      </span>
    </p>
  </footer>
</div>

<br>

<div class="card">
  <div class="card-content">
    <p class="title">
      “Good Music doesn't have an expiration date”
    </p>
    <p class="subtitle">
      MusicMeets
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        View on <a
          href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Share on <a href="#">Facebook</a>
      </span>
    </p>
  </footer>
</div>

<br>

<div class="card">
  <div class="card-content">
    <p class="title">
      “A day without Music... Just Kidding I have no idea what that's like.”
    </p>
    <p class="subtitle">
      MusicMeets
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        View on <a
          href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Share on <a href="#">Facebook</a>
      </span>
    </p>
  </footer>
</div>
