
<hr>
<h2>
  <strong>MusicMeets</strong> wants to give people the opportunity to meet new
  and
  interesting persons with the power of music. It started with a project
</h2>
<hr>
<div *ngFor="let phrase of phrases">
  <div class="card">
    <div class="card-content">
      <p class="title">
        "{{phrase}}"
      </p>
      <p class="subtitle">
        MusicMeets
      </p>
    </div>
    <!-- <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Share on <a
            href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          Share on <a href="#">Facebook</a>
        </span>
      </p>
    </footer> -->
  </div>

  <br>
</div>
