<app-navbar></app-navbar>

<br>

<div class="container-fluid" style="height: 100%;">
  <div class="row">
    <div class="col-4" style="background-color: lightblue;">
      <app-lateral-navbar></app-lateral-navbar>
    </div>

    <div class="col-8" style="background-color: antiquewhite;">
      <app-events-list></app-events-list>
    </div>
  </div>
</div>


<!-- footer -->
<footer class="footer">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://ospino.me/">ospino.me</a>
  </div>
</footer>
