
<div class="columns">
  <div class="column">
    <input id="calendar" type="date">
  </div>

  <div class="column is-8">


    <div *ngFor="let event of events">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png"
                  alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <a class="title is-4" routerLink='/events/{{event.id}}'>{{event.title}}</a>
            </div>
          </div>

          <div class="content">
            <a>@{{event.username}}</a>
            <br>
            <time>{{event.date || "No date"}}</time>
          </div>
        </div>
      </div>

      <br>
    </div>

    <div class="center" [ngClass]="events.length == 0 ? 'display'
      :'dont-display'">
      <div *ngIf="events.length == 0">No events 😩</div>
    </div>
  </div>
</div>
