

<div class="container is-fluid" *ngIf="eventsList.length>0">
  <div class="search-results"
    data-infinite-scroll
    debounce
    (scrolled)="onScrollDown($event)"
    (scrolledUp)="onUp($event)">

    <div *ngFor="let j of getCurrentNumberPages(); let i= index">
      <div class="columns">
        <div *ngIf="eventsList.length> 0 + i*PAGESIZE" class="column">
          <app-event-card [event_model]="eventsList[0 + i*PAGESIZE]"></app-event-card></div>
        <div *ngIf="eventsList.length> 1 + i*PAGESIZE" class="column">
          <app-event-card [event_model]="eventsList[1 + i*PAGESIZE]"></app-event-card></div>
        <div *ngIf="eventsList.length> 2 + i*PAGESIZE" class="column">
          <app-event-card [event_model]="eventsList[2 + i*PAGESIZE]"></app-event-card></div>
      </div>
      <div class="columns">
        <div *ngIf="eventsList.length> 3 + i*PAGESIZE" class="column">
          <app-event-card [event_model]="eventsList[3 + i*PAGESIZE]"></app-event-card></div>
        <div *ngIf="eventsList.length> 4 + i*PAGESIZE" class="column">
          <app-event-card [event_model]="eventsList[4 + i*PAGESIZE]"></app-event-card></div>
        <div *ngIf="eventsList.length> 5 + i*PAGESIZE" class="column">
          <app-event-card [event_model]="eventsList[5 + i*PAGESIZE]"></app-event-card></div>
      </div>
      <div class="columns">
        <div *ngIf="eventsList.length> 6 + i*PAGESIZE" class="column">
          <app-event-card [event_model]="eventsList[6 + i*PAGESIZE]"></app-event-card>
        </div>
        <div *ngIf="eventsList.length> 7 + i*PAGESIZE" class="column">
          <app-event-card [event_model]="eventsList[7 + i*PAGESIZE]"></app-event-card></div>
        <div *ngIf="eventsList.length> 8 + i*PAGESIZE" class="column">
          <app-event-card [event_model]="eventsList[8 + i*PAGESIZE]"></app-event-card></div>
      </div>
    </div>
    <br>
    <br>
    <div class="loading-contianer" id="loading-contianer"
      *ngIf="eventsList.length>0">
      <div class="loading">
        <progress class="progress is-small is-primary" max="100">15%</progress>
      </div>
    </div>
    <br>
    <span *ngIf="eventsList.length>0" class="center">No more events </span>
  </div>
</div>

<div class="center" [ngClass]="eventsList.length == 0 ? 'display'
  :'dont-display'">
  <div *ngIf="eventsList.length == 0">No events 😩</div>
</div>
