<div class="container is-fluid">

  <div class="columns">
    <div class="column" routerLink='/events/{{events[0].id}}'><app-event-card></app-event-card></div>
    <div class="column" routerLink='/events/{{events[1].id}}'><app-event-card></app-event-card></div>
    <div class="column" routerLink='/events/{{events[2].id}}'><app-event-card></app-event-card></div>
  </div>
  <div class="columns">
    <div class="column" routerLink='/events/{{events[3].id}}'><app-event-card></app-event-card></div>
    <div class="column" routerLink='/events/{{events[4].id}}'><app-event-card></app-event-card></div>
    <div class="column" routerLink='/events/{{events[5].id}}'><app-event-card></app-event-card></div>
  </div>
  <div class="columns">
    <div class="column" routerLink='/events/{{events[6].id}}'><app-event-card></app-event-card></div>
    <div class="column" routerLink='/events/{{events[7].id}}'><app-event-card></app-event-card></div>
    <div class="column" routerLink='/events/{{events[8].id}}'><app-event-card></app-event-card></div>
  </div>
</div>

<div class="loading-contianer" style="display:none;">
  <div class="loading">
    <progress class="progress is-small is-primary" max="100">15%</progress>
  </div>
</div>
