
<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li routerLink="/"><a class="is-active"> 🚀 Following events</a></li>
    <li routerLink="/"><a> 🎟 Tickets</a></li>
    <li routerLink="/"><a> 🎹 My events</a></li>
    <li routerLink="/"><a> 🎶 Past events</a></li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <!-- <ul class="menu-list">
    <a class="is-active">History</a>
    <li>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
  </ul> -->
  <ul class="menu-list">
    <li routerLink="/"><a> 💰 Payments</a></li>
    <li routerLink="/profile"><a> 🙎🏻‍♂️ Profile</a></li>
    <li routerLink="/admin"><a> 👨🏽‍💻 Admin</a></li>
    <li routerLink="/about"><a> 🌐 About</a></li>
  </ul>
</aside>
