
<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li routerLink="/">
      <a [ngClass]="active === 'events' ? 'is-active': ''"
        (click)="newActive('events')"> 🚀 Events
      </a>
    </li>
    <li routerLink="/calendar"><a [ngClass]="active === 'calendar' ?
        'is-active': ''"
        (click)="newActive('calendar')"> 🗓 Calendar</a></li>
  </ul>
  <ul class="menu-list" *ngIf="tokenStorageService.isLogged()">
    <li routerLink="/tickets">
      <a [ngClass]="active === 'tickets' ? 'is-active': ''"
        (click)="newActive('tickets')"> 🎟 Tickets</a>
    </li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list" *ngIf="tokenStorageService.isAdmin()">
    <li>
      <ul>
        <li routerLink="/event/create">
          <a [ngClass]="active === 'new_event' ? 'is-active': ''"
            (click)="newActive('new_event')"> 🎯 New Event</a>
        </li>
      </ul>
    </li>
  </ul>


  <ul class="menu-list">
    <li *ngIf="tokenStorageService.isLogged()" routerLink="/profile">
      <a
        [ngClass]="active === 'profile' ? 'is-active': ''"
        (click)="newActive('profile')"> 🙎🏻‍♂️
        Profile</a>
    </li>
    <li routerLink="/about">
      <a [ngClass]="active === 'about' ? 'is-active': ''"
        (click)="newActive('about')"> 🌐 About</a>
    </li>
    <li *ngIf="tokenStorageService.isLogged()" routerLink="/">
      <a [ngClass]="active === 'logout' ? 'is-active': ''"
        (click)="newActive('logout'); logout()"> 👋🏼 Logout</a>
    </li>
  </ul>
</aside>
